{% extends "base.html" %}
{% block title %} About Us {% endblock %}

{% block content %}

<body>
  <div style="position: static;">
      <h3 style="text-align: center">Mengenai Program Ini</h3>
      <div class="container">
      <p1>
        Program ini merupakan program yang menganalisa data mentah yang berasal dari data helpdesk.
      </p1>
      <p>
        Opsi SLA dapat digunakan untuk membuat laporan dari  file SLA Resolution dan SLA Response 
        Untuk memulai anda hanya perlu memilih 1 diantara 3 pilihan pada homepage, dan langsung diminta untuk mengupload file yang sesuai dengan pilihan yang anda pilih. setelah itu file akan langsung terproses dan tersimpan pada data (Download)
        Notes:
      <div style="text-align: left;">
        </p>
          Data harus mentok seperti contoh yang dilampirkan:
        <br>  
          1. Ujung dari tabel harus ada pada index A1
        <br> 
          2. T
          idak dapat menduplikasi file yang telah di download/proses (segera pindahkan file yang sudah diproses apabila ingin memproses file dengan jenis yang sama)"
      </div>

      </p1>
      <br>
      </div>
  </div>
</body>


{% endblock %}
